* {
    font-family: Arial;
    text-align: right;
    direction: rtl;
    margin: 0;
    padding: 0; 
}

.lib_logo {
    height: 60px;
    width: 75px;
}

.col-md-4 {
    height: 300px;
    width: 140px;  
    margin: 5px;
}

.col-md-4.book-box {
    max-width: 330px;
    min-width: 330px;
    margin: 20px 10px 60px 20px;
}

.catalog-search-book {
    margin: 30px 50px 10px 0;
    display: inline-block;
}

.catalog-search-reader {
    margin: 30px 50px 10px 0;
}

.card.book-card {
    border: 2px solid #bad2f7;
}

.card-img-top {
    border: 1px solid black;
    height: 200px;
    width: 125px;
    margin: 5px;
}

.card-img-top-big {
    height: 400px;
    width: 250px;
}

.single-book-details {
    display: inline-block;
    vertical-align: top;
    padding: 20px 80px;
    font-size: 20px;
}

.single-book-detail-label {
    width: 100px;
    display: inline-block;
}

.navbar.top-navbar {
    background-color: #e2edff;
    border-bottom: 1px solid #bad2f7;
}

.navbar-light .navbar-nav .nav-link {
    color: #3d7fc5;
}

.container.single-book {
    text-align: center;
    padding-top: 30px;
}

.container.catalog-title {
    text-align: center;
    font-size: 56px;
    color: #3d7fc5;
    padding-top: 15px;
}

.card-title.book-name {
    color: #3d7fc5;
    font-weight: bold;
}

.card-title.author {
    color: #999;
    font-size: 20px;
}

.card-body.book {
    position: relative;
}

.borrowed-book {
    position: absolute;
    left: 50px;
    top: 23px;
}

.borrowed-image {
    margin: 5px 10px;
}

.borrowed-text {
    margin: 4px;
    font-size: 18px;
}

.search-part {
    margin: 0 0 0 15px;
    color: #999;
}

.row {
    margin-right: 20px;
}

.search-label {
    width: 170px;
}

.search-input {
    padding: 0 3px;
    width: 150px;
}

.home-top-header {
    background: linear-gradient(#798673, #41574C);
    padding: 30px 50px;
    margin: 0;
    color: #d2dbca;
    text-align: center;
    font-size: 54px;
}

.jumbotron.home {
    padding: 0;
    background: white;
}

.home-content {
    margin-top: 50px;
    text-align: center;
}

.home-connect-btn {
    margin: 80px 50px;
    width: 200px;
    height: 100px;
    background: #798673;
    padding-top: 29px;
    font-size: 26px;
    border-color: #41574C;
    color: white;
}

.home-connect-btn:hover {
    background: #8e9b88;
    border-color: #41574C;
    color: white;
}

.btn.btn-lg.borrowing-btn {
    margin: 20px 80px 20px 20px;
    width: 180px;
    height: 50px;
    padding-top: 2px;
    background: #3d7fc5;
    font-size: 26px;
    border-color: #41574C;
    color: white;
}

.btn.btn-lg.borrowing-btn.return {
    margin-right: 4px;
}

.add-book {
    margin-right: 50px;
    display: inline-block;
}

.btn.btn-lg.borrowing-btn:hover {
    background: #6393c5;
    color: white;
}

.btn.btn-lg.borrowing-btn:active {
    background: #6393c5;
    color: white;
}

.borrowing-title {
    margin: 40px 35px 20px 0;
    font-size: 28px;
    color: #3d7fc5;
}

.new-book-label {
    width: 100px;
}

.new-book-form-content {
    text-align: center;
}

.borrower-id-input {
    width: 180px;
}

.new-book-form {
    width: 100%;
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    display: inline-block;
    height: 500px;
}

.new-book-title {
    text-align: center;
    padding: 30px;
}

.new-book-input {
    width: 250px;
    margin: 10px;
}

.new-book-div-button {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 90px;
}

.new-book-button {
    padding-right: 30px;
    padding-left: 30px;
    display: inline-block;
    margin-left: 15px;
}

.login-welcome {
    text-align: center;
    font-size: 42px;
    padding: 30px 0 20px;
    color: #3d7fc5;
    background: #d9e8f7;
}

.login-slogen {
    font-size: 64px;
    text-align: center;
    margin: 30px 0;
    color: #3d7fc5;
}

.login-title {
    color: #3d7fc5;
}

.opening-days-part {
    width: 150px;
    display: inline-block;
}

.lib-detail {
    margin-top: 10px;
}

.login-content {
    text-align: center;
}

.login-form {
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    width: 400px;
    display: inline-block;
}

.login-library-details {
    padding-right: 70px;
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.opening-hours {
    margin-bottom: 40px;
}

.readers-list {
    margin: 10px 30px;
}

.reader-row-header {
    background: #e9f1f9;
    border: 1px solid #ccc;
    height: 35px;
    padding: 5px 10px;
}

.reader-row-link:hover {
    text-decoration: none;
    color: black;
}

.reader-row-link {
    color: black;
}

.selected-reader-box {
    background: #f7fbff;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.reader-detail {
    width: 130px;
    display: inline-block;
    margin-bottom: 5px;
}

.lib-details-box {
    color: #3d7fc5;
    border: 2px solid #bad2f7;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.lib-details-title {
    font-size: 20px;
    padding: 30px 0 30px 0; 
}

.lib-details-content {
    margin-right: 100px;
    text-align: center;
}