<librarian-navbar></librarian-navbar>

<div class="container catalog-title">
רשימת קוראים
</div>
 
    <div class="catalog-search">
    <p> חפש לפי:</p>
    <label for="searchReaderFName">שם פרטי:</label> <input type="text" id="searchReaderFName" ng-model="searchReaderFName">
    <label for="searchReaderLName">שם משפחה:</label> <input type="text" id="searchReaderLName" ng-model="searchReaderLName">
    <label for="searchreaderId">ת.ז:</label> <input type="text" id="searchreaderId" ng-model="searchreaderId">
    <br>
    <br>
    </div>
    <!-- <p>מיין לפי:</p>
    <select class="catalog-selection" ng-model="orderProp">
       <option value="name">שם הספר</option>
       <option value="author">שם המחבר</option>
    </select>
    <br>
    <br>
    <br> -->

    <div class="readers-list">
        <div ng-repeat="reader in readers | filter: {fname: searchReaderFName, lname: searchReaderLName, id: searchreaderId}">
            <div class="reader-row-header" ng-click="selectReader(reader.id)">
                <a class="reader-row-link" href="">{{reader.fname}} {{reader.lname}} - {{reader.id}}</a>
            </div>
            <div ng-show="selectedReaderId === reader.id" class="selected-reader-box">
                <h4 class="card-title" >{{reader.fname}} {{reader.lname}}</h4>
                <div><span class="reader-detail">ת.ז:</span>{{reader.id}}</div>
                <div><span class="reader-detail">אימייל:</span>{{reader.email}}</div>
                <div><span class="reader-detail">טלפון:</span>{{reader.phone}}</div>
                <div><span class="reader-detail">כתובת:</span>{{reader.address}}</div>
            </div>
        </div>
    </div>

