<div class="container">
    <h1>ברוכים הבאים לספרית השלום</h1>
    <h1>אצלנו קור(א)ים דברים טובים</h1>
    <img class="lib_logo" src="\app\images\lib_logo.jpg" alt="library_logo">
    <div class="alert alert-danger" ng-show="invalidCredentails">
                       <strong>שים לב!  </strong>ת.ז. או סיסמא שגויים.  נסה שנית
               </div>
    <form>
            <h2>התחברות</h2>
        <div class="form-group">
          <label for="idNum">ת.ז.</label>
          <input type="number" class="form-control" id="idNum" ng-model="idNum">
        </div>
        <div class="form-group">
          <label for="pwd">סיסמא</label>
          <input type="password" class="form-control" id="pwd" ng-model="pwd">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="login()">התחבר</button>
        {{test}} 
      </form>
</div> 