<librarian-navbar></librarian-navbar>

<div class="container catalog-title">קטלוג הספרים</div>

<div>
  <div class="catalog-search-book">
    <span class="search-part">חיפוש:</span>
    <span class="search-part">
      <input class="search-input" placeholder="לפי שם" type="text" id="searchBookName" ng-model="searchBook">
    </span>
    <span class="search-part">
      <input class="search-input" placeholder="לפי מחבר" type="text" id="searchAuthor" ng-model="searchAuthor">
    </span>
  </div>
<!-- <p>מיין לפי:</p>
<select class="catalog-selection" ng-model="orderProp">
   <option value="name">שם הספר</option>
   <option value="author">שם המחבר</option>
</select>
<br>
<br>
<br> -->

  <div class="add-book">
      <button ng-show="isLibrarian" data-toggle="modal" data-target="#myModal" ng-click="addActor(fNameValue, lNameValue, dateValue, imgValue)" class="btn btn-lg borrowing-btn return" role="button">הוסף ספר</button>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="new-book-form" action="/action_page.php">
          <div class="new-book-form-content">
            <h2 class="login-title new-book-title">פרטי ספר חדש</h2>
            <div class="form-group">
              <label class="new-book-label" for="bookname">שם הספר:</label>
              <input  class="new-book-input" type="text" name="bookname" class="form-control" id="bookname" ng-model="bookname">
            </div>
            <div class="form-group">
              <label class="new-book-label" for="bookauthor">שם הסופר:</label>
              <input class="new-book-input" type="text" name="bookauthor" class="form-control" id="bookauthor" ng-model="bookauthor">
            </div>
            <div class="form-group">
              <label class="new-book-label" for="coverimg">קישור לתמונה:</label>
              <input class="new-book-input" type="text" name="coverimg" class="form-control" id="coverimg" ng-model="coverimg">
            </div>
            <div class="form-group">
              <label class="new-book-label" for="publish">הוצאה:</label>
              <input class="new-book-input" type="text" name="publish" class="form-control" id="publish" ng-model="publish">
            </div>
            <div class="new-book-div-button">
              <button type="submit" class="btn btn-primary new-book-button" ng-click="login()">שמירה</button>
              <button type="button" class="btn new-book-button"  data-dismiss="modal" ng-click="">ביטול</button>
            </div>
          </div>
        </form> 
      </div>
    </div>
  </div>

<div class="row">
	<!-- <div class="col-md-4" ng-repeat="actor in actors | filter: searchText | filter: filterBirthMonth | orderBy: orderProp" ng-click="toggleActSelected(actor)"> -->
	<div class="col-md-4 book-box" ng-repeat="book in books | filter: {name: searchBook, author: searchAuthor}" ng-click="openBook(book)">
		<div class="card book-card text-center" ng-class="{selected: actor.selected}">
			<div class="card-body book">
				<div class="borrowed-book" ng-show="book.borrowId">
					<img class="borrowed-image" src="app\images\locked.png">
					<div class="borrowed-text">מושאל</div>
				</div>
				<a href=""><img class="card-img-top" ng-src="{{book.coverImg}}" alt="{{book.name}}"></a>
				<h4 class="card-title book-name">{{book.name}}</h4>
				<h4 class="card-title author">מאת: {{book.author}}</h4>
			</div>
		</div>
	</div>
</div>


<!-- <div>  
               <div>
                 <label for="search">Filter:</label> <input type="text" id="search" ng-model="searchText">  
               </div>
               
               <table class="table">
                 <tr>
                   <th ng-click="changeSort('brand')">Brand</th>
                   <th ng-click="changeSort('model')">Model</th>
                   <th ng-click="changeSort('year')">Year</th>
                   <th ng-click="changeSort('km')">KM</th>
                   <th>Km/Year</th>
                   <th ng-click="changeSort('testDate')">Test Date</th>
                 </tr>
                 <tr ng-repeat="car in cars | filter: filterCar | orderBy: sortProp : false" ng-click="openCar(car)">
                   <td>{{car.brand}}</td>
                   <td>{{car.model}}</td>
                   <td>{{car.year}}</td>
                   <td>{{car.km | number}}</td>
                   <td>{{car.kmPerYear() | number}}</td>
                   <td>{{car.testDate | date}}</td>
                 </tr>
               </table>
    </div>

 -->
