<librarian-navbar></librarian-navbar>

<div class="container">
    <h1>פרטי הספר</h1>
    <img class="card-img-top" src="{{book.coverImg}}" alt="{{book.name}}">
  
    <p>שם הספר: {{book.name}}</p>
    <p>שם הסופר: {{book.author}}</p>
    <p>ההוצאה: {{book.publishingHouse}}</p>
    <img ng-show="book.borrowed" src="app\images\locked.png">
</div>

<div class="container" ng-show="isLibrarian && borrowObj">
        <h1>פרטי השאלה</h1>
        
        <p>שם הקורא: {{readerObj.fname}} {{readerObj.lname}}</p>
        <p>ת.ז. הקורא: {{readerObj.id}}</p>
        <p>תאריך השאלה: {{borrowObj.borrowDate}}</p>
        <p>תאריך החזרה: {{borrowObj.reminderdateSent}}</p>
       
</div>

    <button ng-show="book.notBorrowed" ng-click="addActor(fNameValue, lNameValue, dateValue,imgValue, imdbValue , false)">השאלה</button>
    <button ng-show="book.borrowed" ng-click="addActor(fNameValue, lNameValue, dateValue,imgValue, imdbValue , false)">החזרה</button>


